<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <form action="/user" method="post" enctype="multipart/form-data">
    <label for="firstName">Prénom:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>
    <label for="lastName">Nom:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>
    <label for="avatars">Avatars:</label>
    <input type="file" id="avatars" name="avatars" multiple accept=".png, .jpg, .jpeg">
    <br>
    <button type="submit">Envoyer</button>
  </form>
</body>
</html>
