<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="http://localhost:3000/pokemon" method="post">
    <ul>
      <li>
        <label>Name</label>
        <input  name="name" id="name" type="text" />
      </li>
      <li>
        <label>type</label>
        <input name="type" id="type" type="text" />
      </li>
      <input type="submit" />
    </ul>

  </form>
</body>
</html>